@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

/* shared styles */

.learn-more{
    background-color: #FFFFFF;
    width: 150px;
    height: 48px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
}

.learn-more-style{
    padding-top: 30px;
}

/* In the near future, I hope to become a Developer. */

.header{
    background-image: url("../assets/hero-bg.png");
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-content h1{
    font-size: 48px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    padding-top: 30px;
}

.header-content p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    padding-top: 30px;
    padding-left: 30px;
    opacity: 0.7;

}

.header-content button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    width: 208px;
    height: 66px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}   

.button{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/* why web development?? */

.why-web{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 80px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.why-web-development{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.why-web-development h4{
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    padding-top: 80px 100px;
}

.why-web-development p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    padding-top: 30px;
}

.landscape{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* yellow man */

.yellow-man, .red-man, .orange-man{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 48px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.do-code h4, .help-people h4, .change-the-world h4{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}

.do-code p, .help-people p, .change-the-world p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
}

.yellow-man-style, .red-man-style, .orange-man-style{
    padding-top: 50px;
}


/* red man */

.help-people{
    padding-left: 100px;
}

/* My Inspiration */

.inspiration{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.inspiration h4{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.inspiration p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding-top: 30px;
}

.inspiration iframe{
    padding: 35px;
    margin-top: 70px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

/* my current target */

.my-current-target{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
}

.current-target h4{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.current-target p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
}

.create{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    gap: 30px;
    padding-top: 50px;
}

.html{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.html img, .css img, .js img{
    padding-top: 40px;
    padding-left: 40px;
}

.html h4, .css h4, .js h4{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-top: 40px;
    margin-left: 40px
}

.html p, .css p, .js p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 40px;
}

.link{
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 19, 33);
    display: block;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.css{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.js{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

/* support */

.support{
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 314px;
    border-radius: 16px;
    margin: 70px;
    background-color: rgba(13, 19, 33, 0.5) ;
    background-blend-mode: overlay;
}

.support h4{
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.support p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    padding-top: 20px;
}

.suggestion{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.suggestion textarea{
    width: 700px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 0.4);
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    cursor: pointer;
}

.suggestion button{
    border-radius: 8px;
    width: 120px;
    height: 58px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    cursor: pointer;
}

