@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}
*{
    margin: 0px;
    padding: 0px;
}

/* shared styles */

.learn-more{
    background-color: #FFFFFF;
    width: 150px;
    height: 48px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    padding: 
}

.learn-more-style{
    padding-top: 30px;
}

/* In the near future, I hope to become a Developer. */

.header{
    background-image: url("../assets/hero-bg.png");
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-content h1{
    font-size: 48px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    padding-top: 30px;
}

.header-content p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    padding-top: 30px;
    padding-left: 30px;
    opacity: 0.7;

}

.header-content button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    width: 208px;
    height: 66px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}   

.button{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/* why web development?? */

.why-web{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 80px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.why-web-development{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.why-web-development h4{
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    padding-top: 80px 100px;
}

.why-web-development p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    padding-top: 30px;
}

.landscape{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* yellow man */

.yellow-man, .red-man, .orange-man{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 48px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.do-code h4, .help-people h4, .change-the-world h4{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}

.do-code p, .help-people p, .change-the-world p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
}

.yellow-man-style, .red-man-style, .orange-man-style{
    padding-top: 50px;
}


/* red man */

.help-people{
    padding-left: 70px;
}